typer==0.12.3
pydantic==2.8.2
requests==2.32.3
beautifulsoup4==4.12.3
tqdm==4.66.4
pdfminer.six==20240706
transformers==4.44.2
datasets==2.20.0
peft==0.12.0
bitsandbytes==0.43.3
accelerate==0.33.0
pyyaml==6.0.2
